*{
	margin: 0px;
	padding:0px;
}
ul>li{cursor: pointer;}
ol>li{cursor: pointer;}
html{
	width:100%;
	height:1145px;
}
#box{
	width:100%;
	height:1145px;
	/*border:2px solid gray;*/
	/*background:blue;*/
}
#box .head{
	width:100%;
	position: relative;
}
#box .head .he01{
	margin: auto;
	width:1700px;
	height:38px;
	/*background:blue;*/
}
#box .head .he01>ul{
	height:39px;
	background: white;
}
#box .head .he01>ul>li{
	list-style-type:none;
	height:39px;
}
#box .head .he01>ul>li>a{
	text-decoration: none;
	color:black;
}
#box .head .he01>ul>li>a:hover{
	color:#ff4e01;
}
#box .head .he01>ul>li:nth-of-type(1){
	width:200px;
/*	background:green;
*/	float:left;
	margin-left:-40px;
}
#box .head .he01>ul>li:nth-of-type(2){
	width:150px;
	float:left;
}
#box .head .he01>ul>li:nth-of-type(3){
	width:130px;
	float:left;
}
#box .head .he01>ul>li:nth-of-type(4){
	width:223px;
	float:left;
}
#box .head .he01>ul>li:nth-of-type(5){
	width:100px;
	float:left;
	margin-left:400px;
	padding-left: 30px;
	line-height:40px;
	font-size: 14px;
	background:url(../王者/head/he05.jpg) no-repeat;
}
#box .head .he01>ul>li:nth-of-type(6){
	width:103px;
	float:left;
	line-height:40px;
	font-size: 14px;
	background:url(../王者/head/he2222.jpg) no-repeat;
	background-position-x: right;
	
}
#box .head .he01>ul>li:nth-of-type(6):hover{
	color:#ff4e01;
	background:url(../王者/head/3322.jpg) no-repeat;
	background-position-x: right;
}
#box .head .he01>ul>li>ol{
	width: 560px;
	height: 200px;
	/*background: green;*/
	float: right;
	list-style: none;
	position: relative;
	z-index: 200;
	margin-right:140px;
	margin-top:-10px;
	display: none;
}

#box .head .he02{
	width: 100%;
	height:145px;
	position: relative;
}
#box .head .he02 .hh{
	border-top:solid 1px gray;
	width: 100%;
	height:110px;
	margin: auto;
	opacity: 0.7;
	background: black;
	position: relative;
	z-index: 10;
}
#box .head .he02>ul{
	margin: auto;
	top:-110px;
	width: 1550px;
	height:145px;
	position: relative;
	list-style: none;
}
#box .head .he02>ul>li{
	position: relative;
	text-align: center;
	float: left;
	width:120px;
	z-index: 100;
}
#box .head .he02>ul>li>a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}
#box .head .he02>ul>li>span{
	line-height:10px;
	font-size: 8px;
	color:lightgray;
}
#box .head .he02>ul>li:nth-of-type(1){
	width:210px;
}
#box .head .he02>ul>li:nth-of-type(2){
	padding-top:50px;
	height:60px;
}
#box .head .he02>ul>li:nth-of-type(3){
	padding-top:50px;
	height:60px;
}
#box .head .he02>ul>li:nth-of-type(4){
	padding-top:50px;
	height:60px;
}
#box .head .he02>ul>li:nth-of-type(5){
	padding-top:50px;
	height:60px;
}
#box .head .he02>ul>li:nth-of-type(6){
	padding-top:50px;
		height:60px;
}
#box .head .he02>ul>li:nth-of-type(7){
	padding-top:50px;
	height:60px;
}
#box .head .he02>ul>li:nth-of-type(8){
	height:60px;
	padding-top:50px;
}
#box .head .he02>ul>li:nth-of-type(9){
	padding-top:30px;
	height:60px;
}
#box .head .he02>ul>li:nth-of-type(10){
	text-align: left;
	width:110px;
	padding-top:50px;
}
#box .head .he02>ul>li:nth-of-type(8):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}
#box .head .he02>ul>li:nth-of-type(7):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}
#box .head .he02>ul>li:nth-of-type(6):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}
#box .head .he02>ul>li:nth-of-type(5):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}
#box .head .he02>ul>li:nth-of-type(4):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}
#box .head .he02>ul>li:nth-of-type(3):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}
#box .head .he02>ul>li:nth-of-type(2):hover{
	background: url(../王者/head/Hove.png);
	background-size:auto 110px;
}

#box .head .he03{
	/*头部背景*/
	width:100%;
	height:1100px;
	margin:auto;
	position: relative;
	top:-140px;
	background: url(../王者/head/head.jpg);
	background-size: 100% 100%;
}
#box .head .he04{
	width: 1700px;
	height:260px;
	margin:auto;
	position: relative;
	top:-1135px;
}



#box .head .he04>div{
	position: absolute;
	width: 1700px;
	height:260px;
	background:url(../王者/bbb.png);
	display: none;
}
#box .head .he04>div>ul{
	width: 1700px;
	height:260px;
	/*background:red;*/
	position: absolute;
	list-style: none;
}
#box .head .he04>div>ul>li{
	float:left;
	margin-left: 60px;
	text-align: center;
	line-height:30px ;
}
#box .head .he04>div>ul>li:nth-of-type(1){
	margin-left:420px;
}
#box .head .he04>div>ul>li:last-child{
	margin-left:15px;
}
#box .head .he04>div>ul>li>a{
	text-decoration:none;
	color:white;
}
#box .head .he04>div>ul>li>a:hover{
	text-decoration:underline;
}
#box .head .he04>div>ul .N{
	background:url(../王者/N.png) no-repeat;padding-left:20px;
}
#box .head .he04>div>ul .H{
	background:url(../王者/H.png) no-repeat;padding-left:20px;
}
#box .head .he04>div>ul .O{
	background:url(../王者/O.png) no-repeat;padding-left:20px;
}
#box .head .he04>div>ul .S{
	background:url(../王者/S.png) no-repeat;padding-left:20px;
}


#box .head .he05{
	width: 100%;
	height:40px;
	margin:auto;
	/*background:black;*/
	margin-top:-1043px;
}
#box .head .he05>a{
	display: block;
	width: 226px;
	height:50px;
	position: relative;
	margin:auto;
	opacity: 0.4;
/*	background:blue;
*/}

#box .head .he06{
	width: 100%;
	height:400px;
	margin:auto;
	/*background:black;*/
	margin-top:20px;
}
#box .head .he06 .he06-div{
	width: 1200px;
	position: relative;
	margin:auto;
	height:400px;
	/*background:blue;*/
}
#box .head .he06 .he06-div>div{
	width: 400px;
	height:400px;
	float:left;
}
#box .head .he06 .he06-div .move{
	width: 550px;
	color:#bbb5b7;
	background:green;
}
#box .head .he06 .he06-div .move>div{
	height:340px;
}
#box .head .he06 .he06-div .move .box img{
	width: 100%;
	height:340px;
}
#box .head .he06 .he06-div .move .box>.list{
	list-style: none;
}
#box .head .he06 .he06-div .move .box>.list{
	width: 100%;
	height:340px;
	display: none;
}
#box .head .he06 .he06-div .move .box>.list:nth-of-type(1){
	display: block;
}

#box .head .he06 .he06-div .move>ul{
	height:60px;
	background:#25242c;
	list-style: none;
}
#box .head .he06 .he06-div .move>ul>li{
	text-align: center;
	line-height: 60px;
	width:110px;
	font-size: 14px;
	float:left;
	font-weight: 800;
}
.aaaa{
	background: gray;
	color:#ead058;
}




#box .head .he06 .he06-div .conset{
	width:390px;
	background:#414046;
}
.conset a{
	color:azure;
	/*color:#ead058;*/
}
.conset>ol{
	height:40px;
	color:azure;
	/*background:red;*/
}
.conset>ol>li{
	text-align: center;
	width:55px;
	line-height: 40px;
	float:left;
	list-style: none;
}

.conset>ol>li>a{
	text-decoration: none;
}
.conset>ol .aab{
	text-decoration:underline;
	color:#ead25a;
}
.conset>ol>li>a:hover{
	text-decoration:underline;
	color:#ead25a;
}
.conset>div{
	width:100%;
	height:360px;
	/*background:red;*/
}
.conset>div>.olLi{
	width:388px;
	height:360px;
	background:#414046;
	position: absolute;
	display: none;
}
.conset>div>.olLi:nth-of-type(1){display: block;}
.conset>div>.olLi:nth-of-type(1)>ul{width:100%;height:360px;font-size: 14px;}
.conset>div>.olLi:nth-of-type(1)>ul>li{width:370px;margin-left:10px;line-height: 45px;float:left;list-style: none;/*background: aqua;*/}
.conset>div>.olLi:nth-of-type(1)>ul>li:nth-of-type(1)>a{color:#ead25a;}
.conset>div>.olLi:nth-of-type(1)>ul>li a{text-decoration: none;}
.conset>div>.olLi:nth-of-type(1)>ul>li span{display: block;color:azure;float:right;}
.conset>div>.olLi:nth-of-type(1)>ul>li:hover{text-decoration:underline;background:darkgray;}

.conset>div>.olLi:nth-of-type(2){display: block;}
.conset>div>.olLi:nth-of-type(2)>ul{width:100%;height:368px;font-size: 14px;}
.conset>div>.olLi:nth-of-type(2)>ul>li{width:370px;margin-left:10px;line-height: 45px;float:left;list-style: none;/*background: aqua;*/}
.conset>div>.olLi:nth-of-type(2)>ul>li:nth-of-type(1)>a{color:#ead25a;}
.conset>div>.olLi:nth-of-type(2)>ul>li a{text-decoration: none;}
.conset>div>.olLi:nth-of-type(2)>ul>li span{display: block;color:azure;float:right;}
.conset>div>.olLi:nth-of-type(2)>ul>li:hover{text-decoration:underline;background:darkgray;}

.conset>div>.olLi:nth-of-type(3){display: block;}
.conset>div>.olLi:nth-of-type(3)>ul{width:100%;height:368px;font-size: 14px;}
.conset>div>.olLi:nth-of-type(3)>ul>li{width:370px;margin-left:10px;line-height: 45px;float:left;list-style: none;/*background: aqua;*/}
.conset>div>.olLi:nth-of-type(3)>ul>li:nth-of-type(1)>a{color:#ead25a;}
.conset>div>.olLi:nth-of-type(3)>ul>li a{text-decoration: none;}
.conset>div>.olLi:nth-of-type(3)>ul>li span{display: block;color:azure;float:right;}
.conset>div>.olLi:nth-of-type(3)>ul>li:hover{text-decoration:underline;background:darkgray;}

.conset>div>.olLi:nth-of-type(4){display: block;}
.conset>div>.olLi:nth-of-type(4)>ul{width:100%;height:368px;font-size: 14px;}
.conset>div>.olLi:nth-of-type(4)>ul>li{width:370px;margin-left:10px;line-height: 45px;float:left;list-style: none;/*background: aqua;*/}
.conset>div>.olLi:nth-of-type(4)>ul>li:nth-of-type(1)>a{color:#ead25a;}
.conset>div>.olLi:nth-of-type(4)>ul>li a{text-decoration: none;}
.conset>div>.olLi:nth-of-type(4)>ul>li span{display: block;color:azure;float:right;}
.conset>div>.olLi:nth-of-type(4)>ul>li:hover{text-decoration:underline;background:darkgray;}

.conset>div>.olLi:nth-of-type(5){display: block;}
.conset>div>.olLi:nth-of-type(5)>ul{width:100%;height:368px;font-size: 14px;}
.conset>div>.olLi:nth-of-type(5)>ul>li{width:370px;margin-left:10px;line-height: 45px;float:left;list-style: none;/*background: aqua;*/}
.conset>div>.olLi:nth-of-type(5)>ul>li:nth-of-type(1)>a{color:#ead25a;}
.conset>div>.olLi:nth-of-type(5)>ul>li a{text-decoration: none;}
.conset>div>.olLi:nth-of-type(5)>ul>li span{display: block;color:azure;float:right;}
.conset>div>.olLi:nth-of-type(5)>ul>li:hover{text-decoration:underline;background:darkgray;}

#box .head .he06 .he06-div .dou{
	width: 250px;
}
.dou img{
	width: 250px;
	height:130px;
}

#box .head .he07{
	width: 1200px;
	margin:auto;
	position: relative;
	top:20px;
	height:134px;
	/*background:lightgreen;*/
}
#box .head .he07>div{
	float:left;
	margin-right:8px;
}

#denglu{
	width:100%;
	height:100%;
	position:fixed;
	z-index: 900;
	top:00px;
	left:00px;
	background:gray;
	opacity: 0.5;
	display:none;
}
#deng{ 
	width:530px;
	height:254px;
	top:200px;
	left:650px;
	background:url(../login.jpg);
	position:fixed;
	z-index:900;
	display:none;
	opacity: 1;
}
#deng .bu{width:40px;height:40px;background-color:goldenrod;position: absolute;right: 0px;border:0px;color:white;font-size: 20px;}
#deng>input{width:200px;height:50px;background:red;border:0px;margin-top:140px;opacity:00;border-radius:50px;}
#deng #inWX{margin-left:60px;margin-right:10px;}
#deng .bu:hover{cursor:pointer;}
#deng>input:hover{cursor:pointer;}

#delu{display:none;width:470px;height:470px;top:200px;left:650px;background:url(../011m4FKVXkXRRlnk.jpg);position:fixed;z-index:900;opacity: 1;}
#delu .bu01{width:20px;height:20px;background:black;color:white;border:0;position:absolute;right:0;}

#QQ{display:none;text-align: center;width:550px;height:420px;top:200px;left:650px;background:white;position:fixed;z-index:900;opacity: 1;}
#QQ #p1{font-size: 20px;}
#QQ #bu02{font-size: 20px;position:absolute;right:0px;}
#QQ #p2{font-size: 15px;}
#QQ #p3{display:none;}
#QQ #butt01{width:112px;height:112px;background:url(../ptqrshow);float:left;margin-left:180px;border:0;}
#QQ #butt02{width:160px;height:198px;background:url(../small_24_tiny.png);float:left;display:none;border:0;}
#QQ div{position:absolute;right:5px;bottom:5px;cursor:pointer;color:gray;}
#QQ div>a{text-decoration: none;color:gray;}
#QQ #form{display:none;color:gray;}
#QQ #form>input{width: 304px;height:45px;margin-top:5px;color:gray;}
#QQ #form .sub{background:greenyellow;border:0px;color:white;}
#xiaZai{width:570px;height:300px;background:url(../new/xia.png);position:fixed;z-index:500;top:35%;left:35%;display:none;}
#xiaZai button{width:45px;height:55px;background:transparent;position: absolute;right:0;color: white;}
#xiaZai .ema{width:210px;height:35px;margin-left:44px;background:transparent;float:left;}
#xiaZai .ema01{width:210px;height:175px;background:transparent;margin-left:36px;float:left;margin-top:36px;}
#xiaZai .ema01>div{width:210px;height:45px;background:transparent;margin-bottom:8px;border-radius:8px;}
#xiaZai .ema01>div:hover{cursor: pointer;}
