*{margin: 0px;padding: 0px;}
#middle{width:100%;height:1500px;background:transparent;}
#middle .Gamedrtr{width:1200px;height:650px;margin: auto;background:transparent;}
#middle .Gamedrtr .head{width:880px;height:50px;background: url(../王者/攻略中心/gram.png) no-repeat;padding-top: 13px;padding-left: 30px;}
#middle .Gamedrtr .head a{display:block;text-decoration: none;color:black;font-weight: 900;font-size: 25px;float:left;}
#middle .Gamedrtr .head .sp{display:block;width:100px;height:40px;background:url(../王者/攻略中心/jia.jpg) no-repeat;float:right;margin-top:-10px;padding-top: 20px;padding-left: 30px;color:gray;}
#middle .Gamedrtr .daoHang{width:879px;height:50px;}
#middle .Gamedrtr .daoHang>ul{height:40px;background:#f5f5f5;}
#middle .Gamedrtr .daoHang>ul>li{list-style: none;height:40px;width:293px;float:left;text-align: center;line-height: 40px;}
#middle .Gamedrtr .active{border-bottom: gold solid 3px; }
#middle .Gamedrtr .daoHang .boxLi>.listLi{width:100%;margin-top:10px ;height:550px;display: none;}
#middle .Gamedrtr .daoHang .boxLi>.listLi>img{width:100%;height:550px;}
#middle .Gamedrtr .daoHang .boxLi>.listLi:nth-of-type(1){display: block;}
#middle .Gamedrtr .daoHang .boxLi>.listLi>ul{height:50px;background: transparent;list-style: none;}
#middle .Gamedrtr .daoHang .boxLi>.listLi>ul>li{width:90px;height:30px;background:#f5f5f5;border-radius:20px;float: left;color:gray;text-align: center;line-height: 30px;margin-left:18px;font-size:15px;margin-top:10px;}
#middle .Gamedrtr .daoHang .boxLi>.listLi>ul>li:hover{cursor:pointer;}
#middle .Gamedrtr .daoHang .boxLi>.listLi>ul>li:nth-of-type(1){width:50px;height:30px;background: #f3c258;border-radius:20px;color:black;}
/*.ull{background: #f3c258;color:black;}*/
#middle .Gamedrtr .daoHang .boxLi>.listLi .void{width:100%;height:450px;background: transparent;}
#middle .Gamedrtr .daoHang .boxLi>.listLi .void>div{width:196px;height:160px;float: left;margin:30px 10px;}
#middle .Gamedrtr .daoHang .boxLi>.listLi .void>div>a{position: relative;text-decoration: none;color:black;font-size: 14px;}
#middle .Gamedrtr .daoHang .boxLi>.listLi .void>div>a>span{top:-55px;position: relative;}
#middle .Gamedrtr .daoHang .boxLi>.listLi #ull>.ull-ul{width:100px;}

#middle .Gamedrtr .bom-rig{width:280px;height:800px;background:url(../王者/攻略中心/gram01.png) no-repeat;float:right;padding-top: 13px;padding-left: 30px;}
#middle .Gamedrtr .bom-rig a{display:block;text-decoration: none;color:black;font-size: 25px;float:left;}
#middle .Gamedrtr .bom-rig .sp{margin-left:218px;display:block;width:100px;height:30px;background:url(../王者/攻略中心/jia.jpg) no-repeat;margin-top:-10px;padding-top: 20px;padding-left: 30px;color:gray;}
#middle .Gamedrtr .bom-rig .dao{width:100%;height:50px;}
#middle .Gamedrtr .bom-rig .dao>ul{height:40px;background:#F5F5F5;margin-top:10px;}
#middle .Gamedrtr .bom-rig .dao>ul>li{list-style: none;height:40px;width:90px;float:left;text-align: center;line-height: 40px;float: left;}
#middle .Gamedrtr .bom-rig .dao>ul>li:hover{cursor:pointer;}

#middle .Gamedrtr .bom-rig .dao .boxLi>.lll{width:100%;margin-top:10px ;height:550px;display: none;font-size: 25px;}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll:nth-of-type(1){display: block;}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.aa{display: block;width:100%;height:280px;border:gainsboro 1px solid;}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>a>span{font-size: 15px;}
#middle .Gamedrtr .bom-rig .dao img{width: 100%;height: 200px;}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll:nth-of-type(3)>a{display: block;width:66px;margin-left:4px ;}

#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>a{display:block;border:none;margin-top:30px;width:66px;float:left;margin-left: 4px;height:173px;}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div01{background: url(../王者/攻略中心/英雄皮肤/异星.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div01:hover{background:url(../王者/攻略中心/英雄皮肤/异星.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div02{background: url(../王者/攻略中心/英雄皮肤/老虎.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div02:hover{background:url(../王者/攻略中心/英雄皮肤/老虎01.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div03{background: url(../王者/攻略中心/英雄皮肤/杨玉环.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div03:hover{background:url(../王者/攻略中心/英雄皮肤/杨玉环.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div04{background: url(../王者/攻略中心/英雄皮肤/公孙离.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div04:hover{background:url(../王者/攻略中心/英雄皮肤/公孙离.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div05{background: url(../王者/攻略中心/英雄皮肤/老夫子.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div05:hover{background:url(../王者/攻略中心/英雄皮肤/老夫子.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div06{background: url(../王者/攻略中心/英雄皮肤/芈月.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div06:hover{background:url(../王者/攻略中心/英雄皮肤/芈月.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div07{background: url(../王者/攻略中心/英雄皮肤/牛魔.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div07:hover{background:url(../王者/攻略中心/英雄皮肤/牛魔03.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div08{background: url(../王者/攻略中心/英雄皮肤/狂铁.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div08:hover{background:url(../王者/攻略中心/英雄皮肤/狂铁起.png);}

#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div09{background: url(../王者/攻略中心/英雄皮肤/典韦.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div09:hover{background:url(../王者/攻略中心/英雄皮肤/典韦.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div010{background: url(../王者/攻略中心/英雄皮肤/姜子牙.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div010:hover{background:url(../王者/攻略中心/英雄皮肤/姜子牙.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div011{background: url(../王者/攻略中心/英雄皮肤/百里玄策.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div011:hover{background:url(../王者/攻略中心/英雄皮肤/百里玄策.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div012{background: url(../王者/攻略中心/英雄皮肤/张良.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div012:hover{background:url(../王者/攻略中心/英雄皮肤/张良.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div013{background: url(../王者/攻略中心/英雄皮肤/李元芳.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div013:hover{background:url(../王者/攻略中心/英雄皮肤/李元芳.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div014{background: url(../王者/攻略中心/英雄皮肤/牛魔02.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div014:hover{background:url(../王者/攻略中心/英雄皮肤/牛魔01.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div015{background: url(../王者/攻略中心/英雄皮肤/蔡文姬.jpg);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div015:hover{background:url(../王者/攻略中心/英雄皮肤/蔡文姬.png);}
#middle .Gamedrtr .bom-rig .dao .boxLi>.lll>.div016{background: url(../王者/攻略中心/英雄皮肤/更多.jpg);}

#middle .Competition{width:1200px;height:830px;margin: auto;background:transparent;}
#middle .Competition .Comp{width:880px;height:60px;background:url(../王者/赛事中心/qi.jpg) no-repeat;padding-left:30px;padding-top: 15px;font-size:25px;font-weight: 900;}
#middle .Competition .ol{width:850px;height:40px;background: transparent;color:gray;}
#middle .Competition .ol>ul{width:100%;height:40px;background: gainsboro;list-style: none;}
#middle .Competition .ol>ul>li{width:140px;height:27px;float:left;margin-top:10px;text-align: center;}
#middle .Competition .ol>ul>li:hover{cursor:pointer;}
#middle .Competition .ol>ul>.spac{width:140px;border-bottom: 3px solid #FFD700;margin-bottom:0px;display:none;}
#middle .Competition .ol>ul>li>span{float: left;}
#middle .Competition .ol .KPL{background: transparent;width:100%;height:700px;margin-top: 10px;}
#middle .Competition .ol .KPL .KPLA{background:transparent;width:100%;height:100%;}
#middle .Competition .ol .KPL .KPLA .KPLB{background:transparent;width:100%;height:280px;display: none;}
#middle .Competition .ol .KPL .KPLA .KPLB>a{display:block;width:100%;height:100%;background:transparent;color:#25242C;text-decoration: none;}
#middle .Competition .ol .KPL .KPLA .KPLB>a:nth-of-type(1){width:210px;float:left;}
#middle .Competition .ol .KPL .KPLA .KPLB>a:nth-of-type(2){width:600px;float:right;}
#middle .Competition .ol .KPL .KPLA .KPLB>a:nth-of-type(2)>ul{list-style:none;}
#middle .Competition .ol .KPL .KPLA .KPLB>a:nth-of-type(2)>ul>li{height:35px;padding-top:-50px;padding-left: 50px;font-size: 15px;}
#middle .Competition .ol .KPL .KPLA .KPLB>a:nth-of-type(2)>ul>li>span{float:right;}
#middle .Competition .ol .KPL .KPLA .KPLB:nth-of-type(1){display:block;}
#middle .Competition .ol .KPL .KPLA .KPLB>a>p:nth-of-type(1){font-size: 20px;color:#000;}
#middle .Competition .ol .KPL .KPLA .KPLB>a>p:nth-of-type(2){font-size: 10px;margin-top: 5px;margin-bottom: 10px;}
#middle .Competition .ol .KPL .KPLA .KPLB>a>p:hover{text-decoration: underline;}
#middle .Competition .ol .KPL .KPLA .KPLB>a>ul>li:hover{text-decoration: underline;cursor:pointer;}
#middle .Competition .ol .KPL .KPLA .KPLB>.a1{width: 858px; height:600px;background: transparent;}
#middle .Competition .ol .KPL .KPLA .KPLB>.a1>div{width: 214px; height:179px;background: transparent;float:left;position: relative;}
#middle .Competition .ol .KPL .KPLA .KPLB>.a1>div>a{text-decoration: none;color: #25242C;font-size: 15px;}
#middle .Competition .ol .KPL .KPLA .KPLB>.a1>div>a>.img01{width: 200px;height:179px;position: relative;}
#middle .Competition .ol .KPL .KPLA .KPLB>.a1>div>a>span{margin-top:0px;position: relative;top:-50px;}

#middle .Competition .CompRight{width:340px;height:600px;background:transparent;position: absolute;left: 1210px;}
#middle .Competition .CompRight .coTop{width:100px;height:60px;background: url(../王者/赛事中心/text.jpg) no-repeat;float:left;padding-left:30px;padding-top: 15px;font-size:25px;font-weight: 900;}
#middle .Competition .CompRight .coTop-left{width:80px;height:60px;float:right;}
#middle .Competition .CompRight .coTop-right{width:80px;height:55px;float:right;margin-top:5px;}
#middle .Competition .CompRight .coTop-mid{width:100%;height:350px;background: transparent;clear: left;}
#middle .Competition .CompRight .coTop-mid table{margin:auto;text-align:center;background: transparent;clear: left;color:gray;}