*{margin: 0px;padding: 0px;list-style:none;}
#gaDet{width: 100%;height:140px;background:transparent;position:absolute;top:596px;}
#gaDet .hero{width:1700px;height:132px;background: transparent;margin: auto;}
#gaDet .hero .hero01{width:1100px;height:132px;margin: auto;left: 400px;background:#124b7a;}
#gaDet .hero .hero01 ul{width:700px;height:82px;overflow: hidden;background: url(../游戏资料/背.jpg);float: left;margin-top:10px;padding-top:40px;}
#gaDet .hero .hero01 ul>li{width: 78px;height:76px;list-style: none;float: left;}
#gaDet .hero .hero01 ul>li:hover{cursor:pointer;}
#gaDet .hero .hero01 ul>li:nth-of-type(1){width:224px;}
#gaDet .hero .hero01 p{width:450px;height:20px;background:transparent;float: left;padding-top:50px;position: relative;top:-165px;color:whitesmoke;}
#gaDet .hero .hero01 .hero02{line-height:132px;color:darkgray;width:400px;height:132px;float: left;background:url(../游戏资料/hero01.png) no-repeat;background-size:100px 132px;}
#gaDet .hero .hero01 .hero02>span{padding-left: 110px;}
#gaDet .hero .hero01 .hero02>span>a{color:darkgray;text-decoration:none;}
#gaDet .hero .hero01 .hero02>span>a:hover{color:white;text-decoration:underline;}

#data{width:100%;height:634px;background:url(../new/bei.jpg);position: absolute;top:728px;}
#data .dat{width:1700px;height:634px;background:green; margin: auto;}
#data .dat .da{width:1250px;height:50px;background:transparent;color: slategray;margin:auto;}
#data .dat .da>a{display:inline-block;width:100px;height:35px;background-size:35px 35px;line-height:35px;color: slategray;margin-top:20px;}
#data .dat .da>span{display:block;width:30px;height:35px;background:url(../游戏资料/fff.png);background-size:35px 40px;float:left;margin-top:20px;}
#data .dat .da>ul{width:1250px;height:40px;background:#3d4253;}
#data .dat .da>ul>li{width:416px;height:35px;background:white;float:left;text-align: center;line-height:40px;margin-top:5px;}
#data .dat .da>ul span{display:block;width:416px;height:5px;background:aqua;position:relative;top:0px;}
/*#data .dat .da .vid{margin-top:30px;height:550px;width:1200px;background:#FAFAFA;}*/

#middle{width:100%;height:200px;background:#FAFAFA;position:relative;top:214px;}
#middle .Gamedrtr{width:1200px;height:200px;background:#FAFAFA;margin: auto;}
#middle .Gamedrtr>div{width:182px;height:180px;background:white;float:left;margin-left:12px;margin-top:12px;cursor:pointer;font-size:13px;}

