*{
	margin: 0px;
	padding:0px;
}
#box{
	width:100%;
	height:100px;
	position:fixed;
	z-index: 900;
}
#box .head{
	background:white;
	width:100%;
}
#box .head .he01{
	margin: auto;
	width:1700px;
	height:38px;
	overflow: hidden;
}
#box .head .he01>ul{
	height:39px;
	background: white;
}
#box .head .he01>ul>li{
	list-style-type:none;
	height:39px;
}
#box .head .he01>ul>li>a{
	text-decoration: none;
	color:black;
}
#box .head .he01>ul>li>a:hover{
	color:#ff4e01;
}
#box .head .he01>ul>li:nth-of-type(1){
	width:200px;
	float:left;
	margin-left:-40px;
}
#box .head .he01>ul>li:nth-of-type(2){
	width:150px;
	float:left;
}
#box .head .he01>ul>li:nth-of-type(3){
	width:130px;
	float:left;
}
#box .head .he01>ul>li:nth-of-type(4){
	width:223px;
	float:left;
}
#box .head .he01>ul>li:nth-of-type(5){
	width:100px;
	float:left;
	margin-left:400px;
	padding-left: 30px;
	line-height:40px;
	font-size: 14px;
	background:url(../王者/head/he05.jpg) no-repeat;
}
#box .head .he01>ul>li:nth-of-type(6){
	width:103px;
	float:left;
	line-height:40px;
	font-size: 14px;
	background:url(../王者/head/he2222.jpg) no-repeat;
	background-position-x: right;
	
}
#box .head .he01>ul>li:nth-of-type(6):hover{
	color:#ff4e01;
	background:url(../王者/head/3322.jpg) no-repeat;
	background-position-x: right;
}
#box .head .he01>ul>li>ol{
	width: 560px;
	height: 200px;
	background: green;
	float: right;
	list-style: none;
	position: relative;
	z-index: 200;
	display: none;
}

.he02{
	width: 100%;
	height:145px;
	top:108px;
	z-index:800;
	position:fixed;
}
.he02>ul{
	margin: auto;
	width: 1906px;
	height:70px;
	/*background: red;*/
	list-style: none;
	background:#171a21;
}
.he02>ul>li{
	text-align: center;
	float: left;
	width:150px;
	height:67px;
	margin-left: 20px;
	line-height: 70px;
	background:#171a21;
}
.he02>ul .hov{background:url(../商城/qlink-bg.png);background-size:150px 70px;border-bottom:3px solid salmon;}
.he02>ul>li>a{color: white;font-size: 20px;text-decoration: none;}
.he03{width: 100%;height:70px;position:fixed;top:38px;z-index:800;}
.he03>ul{width:1906px;height:70px;background:black;list-style: none;text-align: center;margin:auto;}
.he03>ul>li{width: 140px;height:70px;float:left;background:black;}
.he03>ul>li>a{color:gainsboro;text-decoration:none;font-size:20px;}
.he03>ul>li>a>span{color:gray;font-size:8px;}
.he03>ul>li:nth-of-type(2){margin-right:770px;}
.he03>ul>li:nth-of-type(3){padding-top:15px;height:55px;}
.he03>ul>li:nth-of-type(4){padding-top:15px;height:55px;}
.he03>ul>li:nth-of-type(5){padding-top:15px;height:55px;}
.he03>ul>li:nth-of-type(6){padding-top:15px;height:55px;}
.he03>ul>li:nth-of-type(7){padding-top:15px;height:55px;}
.he03>ul>li:nth-of-type(8){padding-top:15px;height:55px;}


#mid {position:relative;top:178px;width: 100%;height:11000px;background: red;}
#mid>div{width:1906px;height:1000px;margin: auto;}
#mid>div:nth-of-type(1){background:#191921;}
#mid>div:nth-of-type(2){background:red;}
#mid>div:nth-of-type(3){background:#48455d;}
#mid>div:nth-of-type(4){background:#fff;}
#mid>div:nth-of-type(5){background:#48455d;}
#mid>div:nth-of-type(6){background:red;}
#mid>div:nth-of-type(7){background:#70b9f4;}
#mid>div:nth-of-type(8){background:#fff;}
#mid>div:nth-of-type(9){background:#131a29;}
#mid>div:nth-of-type(10){background:#242043;}
#mid>div:nth-of-type(11){background:#fff;}
#mid>div>a{display:block;width:1906px;height:1000px;}
#mid>div:nth-of-type(1)>a{background:url(../商城/6.jpg) no-repeat;background-size:1906px 1000px ;}
#mid>div:nth-of-type(2)>a{background:url(../商城/main-bg2.jpg) no-repeat;}
#mid>div:nth-of-type(3)>a{background:url(../商城/main-bg1.jpg) no-repeat;}
#mid>div:nth-of-type(4)>a{background:url(../商城/main-bg3.jpg) no-repeat;}
#mid>div:nth-of-type(5)>a{background:url(../商城/main-bg6.jpg) no-repeat;}
#mid>div:nth-of-type(6)>a{background:url(../商城/main-bg4.jpg) no-repeat;}
#mid>div:nth-of-type(7)>a{background:url(../商城/main-bg5.jpg) no-repeat;}
#mid>div:nth-of-type(8)>a{background:url(../商城/main-bg9.jpg) no-repeat;}
#mid>div:nth-of-type(9)>a{background:url(../商城/main-bg10.jpg) no-repeat;}
#mid>div:nth-of-type(10)>a{background:url(../商城/main-bg11.jpg) no-repeat;}
#mid>div:nth-of-type(11)>a{background:url(../商城/main-bg8.jpg) no-repeat;}

#mid #over{position:fixed;top:250px;right:40px;height:368px;width:48px;background:url(../商城/side.png);}

#foot{position:relative;top:178px;height:368px;width:100%;background:#fafa;}
#foot .foot-exp{height:150px;width:1908px;background:transparent;margin: auto;}
#foot .foot-exp>ul{height:150px;width:1060px;background:transparent;margin: auto;list-style:none;border-bottom:1px solid gainsboro;}
#foot .foot-exp>ul>li{height:80px;width:353px;background:transparent;float:left;text-align:center;padding-top:70px;color:gray;}
#foot .foot-exp>ul>li>span{display:block;width:30px;height:30px;background:red;border-radius:50%;float:left;margin-left:150px;text-align: center;color:white;}
#foot .foot-exp>ul>li>p{float:left;margin-left:6px;}
#foot .foot-stBox{height:150px;width:1908px;background:#fafa;margin: auto;margin-top:30px;}
#foot .foot-stBox .foot-stUl{height:150px;width:1060px;background:#fafa;margin: auto;list-style:none;}
#foot .foot-stBox .foot-stUl>li{height:150px;width:200px;background:#fafa;float:left;color:gray;}
#foot .foot-stBox .foot-stUl>li:last-child{margin-left:50px;}
#foot .foot-stBox .foot-stUl>li>a{margin-top:5px;height:5px;text-align:left;display:block;text-decoration: none;color:gray;font-size:13px;}
#foot .foot-stBox .foot-stUl>li #aa{text-decoration:none;color:gray;}
#foot .foot-stBox .foot-stUl>li #aa:hover{text-decoration:underline;}
#foot .foot-list{width:1920px;height:86px;background:url(../商城/foot-list.jpg);margin: auto;background-size:1920px 87px;}
#foot .foot-list ul{width:480px;height:86px;background:transparent;margin: auto;list-style: none;}
#foot .foot-list ul>li{width:120px;height:86px;background:transparent;float:left;text-align: center;line-height: 86px;}
#foot .foot-list ul>li>a{text-decoration:none;color:gray;}
#bott{width:100%;height:130px;background:black;position:absolute;top:11590px;}
#bott ul{width:1000px;height:50px;background:black;margin: auto;list-style:none;margin-top:10pxs;}
#bott ul>li{width:110px;height:28px;background:black;font-size:13px;float:left;margin-top:20px;text-align: center;border-right:1px solid gray;color:white;}
#bott ul>li:last-child{border-right:0px solid gray;}
#bott p{line-height:40px;text-align: center;color:white;font-size:13px;}

