*{margin: 0px;padding: 0px;}
#gaDet{width: 100%;background: transparent;position:absolute;top:600px;}
#gaDet .hero{width:1700px;height:140px;background: transparent;margin: auto;}
#gaDet .hero .hero01{width:1100px;height:127px;overflow: hidden;margin:auto;left: 400px;background: transparent;}
#gaDet .hero .hero01 ul{width:700px;height:140px;background: url(../游戏资料/背.jpg);float: left;padding-top:50px;margin-top:20px;}
#gaDet .hero .hero01 ul>li{width: 76px;height:76px;list-style: none;float: left;margin-top:-20px;}
#gaDet .hero .hero01 ul>li:nth-of-type(1){width: 224px;}
#gaDet .hero .p{width:100px;height:20px;float: left;position: relative;left:370px;top:25px;color:whitesmoke;}
#gaDet .hero .hero01 .hero02{width:400px;height:132px;margin: auto;float: left;}
#gaDet .hero .pan{color:whitesmoke;position: absolute;left:1300px;top:60px;text-decoration: none;}
#gaDet .hero .pan>a{color:gray;text-decoration: none;}

#data{width:100%;height:450px;background:#fafafa;position: absolute;top:728px;}
#data .dat{width:1700px;height:450px;background:#fafafa; margin: auto;}
#data .dat .da{width:1250px;height:35px;background:transparent;color: slategray;margin:auto;}
#data .dat .da>a{display:inline-block;width:100px;height:35px;background-size:35px 35px;line-height:35px;color: slategray;}
#data .dat .da>span{display:block;width:30px;height:35px;background:url(../游戏资料/fff.png);background-size:35px 40px;float: left;}
.dongTai{width:1700px;background:#fafafa; margin: auto;}
.dongTai .doLe{width:750px;background:#fafafa;float: left;margin-left: 12%;color:whitesmoke;}
.dongTai .doLe>div{width:100%;height:350px;}
.dongTai .doLe>div>a{display:inline-block;width:750px;height:350px;position: absolute;display: none;}
.dongTai .doLe>div>a:nth-of-type(1){display:block;}
.dongTai .doLe>div>a>img{width:100%;height:350px;}
.dongTai .doLe>ul{width:750px;background: transparent;list-style: none;}
.dongTai .doLe>ul>li{width:150px;height:50px;float: left;text-align: center;background:#36363d;line-height: 50px;}
.dongTai .doLeLi{background: #54545a;color:#fccd6a;}

.dongTai .doRi{width:29.5%;background: #36363d; float:left;color:gray;}
.dongTai .doRi>ol{width:250px;background: #36363d;height:43px;margin-left:16px;list-style: none;border-bottom:solid 2px #000;float:left;}
.dongTai .doRi>ol>li{width:70px;height:40px;float: left;text-align: center;line-height:37px;color:gray;}
.dongTai .doRi .doRiLi{border-bottom:solid 3px #f3c258;color:#f3c258;}
.dongTai .doRi>ul{float:right;width: 200px;list-style: none;margin-top:10px;text-align: center;}
.dongTai .doRi>ul>li{width:20px;height:30px;float:left;margin-left: 30px;line-height: 30px;}
.dongTai .doRi .doRiLi01{background:#f3c258;color:gray;}
.dongTai .doRi .sous{margin-top:5px;background: url(../攻略中心/sous.jpg) no-repeat;border: solid 1px gray;width:300px;height:40px;margin-left:16px;background-size: 30px 40px;padding-left: 33px;}
.dongTai .doRi .bu{margin-left:5px;width:100px;height:40px;background: #36363d;border: solid 1px gray;color:whitesmoke;}
.dongTai .doRi .doRi02{width:460px;height:308px;float: left;color:gainsboro;margin-left:16px;}
.dongTai .doRi .doRi02>div{width:460px;height:308px;overflow:scroll;position: absolute;display:none;}
.dongTai .doRi .doRi02>div:nth-of-type(1){display: block;}
.dongTai .doRi .doRi02>div>ol{width:440px;position: absolute;display: none;}
.dongTai .doRi .doRi02>div>ol:nth-of-type(1){display: block;}
.dongTai .doRi .doRi02>div>ol>li{width:440px;height: 40px;line-height: 40px;list-style: none;}
.dongTai .doRi .doRi02>div>ol>li>p{float:left;width:380px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dongTai .doRi .doRi02>div>ol>li>p:hover{text-decoration:underline}
.dongTai .doRi .doRi02>div>ol>li>p>input{width:15px;border:1px solid gray;color:gray;background: transparent;text-align: center;margin-right:10px;}
.dongTai .doRi .doRi02>div>ol>li>p .in1{border:1px solid #f3c258;color:#f3c258;}
.dongTai .doRi .doRi02>div>ol>li>span{float:right;}

.Taitu{width:1700px;background: #fafafa; margin: auto;height: 500px;position: relative;}
.Taitu .strTop{width:1290px;background:#fafafa; margin: auto;height: 500px;}
.Taitu .strTop .Left{width:48%;background: #fafafa;height: 500px;float:left;}
.Taitu .strTop .Left .tu{width:48%;background:url(../攻略中心/tu.jpg) no-repeat;height:40px;padding-left:30px;padding-top:10px;float:left;}
.Taitu .strTop .Left .tu01{width:100px;height:40px;background:url(../王者/攻略中心/jia.jpg) no-repeat;padding-left:30px;padding-top:10px;background-size:30px 40px;float:right;}
.Taitu .strTop .Left .tu01>a{text-decoration: none;color:darkgray;}
.Taitu .strTop .Left .tu01>a:hover{text-decoration: underline;}
.Taitu .strTop .Left ul{width:100%;height:40px;background:#fafafa;margin-top:50px;list-style: none;}
.Taitu .strTop .Left ul>li{width:120px;height:33px;background:#fafafa;float: left;text-align: center;margin-top:5px;line-height: 30px;border-right:1px solid gray;color:grey;}
.Taitu .strTop .Left ul>li:last-child{border-right:0px solid gray;}
.Taitu .strTop .Left ul .LIS{border-bottom:solid gold 2px;color: #000;}
.Taitu .strTop .Left .bian{width:100%;height:410px;background:#fafafa;}
.Taitu .strTop .Left .bian>ol{width:100%;height:410px;background:#fafafa;display: none;list-style: none;}
.Taitu .strTop .Left .bian>ol:nth-of-type(1){display:block;}
.Taitu .strTop .Left .bian>ol>li{height:35px;background:#fafafa;font-size: 14px;line-height: 35px;margin-top:5px;color: darkgray;}
.Taitu .strTop .Left .bian>ol>li>p{display: inline-block;width:50px;height:35px;background:#fafafa;margin:5px;text-align: center;}
.Taitu .strTop .Left .bian>ol>li>a{text-decoration: none;color: darkgray;}
.Taitu .strTop .Left .bian>ol>li>a:hover{text-decoration: underline;color:black;}
.Taitu .strTop .Left .bian>ol>li>span{float:right;margin-right: 15px;}

.Taitu .strTop .Right{width:48%;background:#fafafa;height: 500px;float:left;margin-left:5px;}
.Taitu .strTop .Right .tu03{width:48%;background:url(../攻略中心/tu.jpg) no-repeat;height:40px;padding-left:30px;padding-top:10px;float:left;}
.Taitu .strTop .Right .tu04{width:100px;height:40px;background:url(../王者/攻略中心/jia.jpg) no-repeat;padding-left:30px;padding-top:10px;background-size:30px 40px;float:right;}
.Taitu .strTop .Right .tu04>a{text-decoration: none;color:darkgray;}
.Taitu .strTop .Right .tu04>a:hover{text-decoration: underline;}
.Taitu .strTop .Right ul{width:100%;height:40px;background:transparent;margin-top:50px;list-style: none;}
.Taitu .strTop .Right ul>li{width:200px;height:33px;background:transparent;float: left;text-align: center;margin-top:5px;line-height: 30px;border-right:1px solid gray;color:grey;}
.Taitu .strTop .Right ul>li:last-child{border-right:0px solid gray;}
.Taitu .strTop .Right .LIS{border-bottom:solid gold 2px;color: #000;}

.Taitu .strTop .Right .bian01{width:100%;height:414px;background:#fafafa;}
.Taitu .strTop .Right .bian01>div{width:100%;height:410px;background: #fafafa;display: none;list-style: none;}
.Taitu .strTop .Right .bian01>div:nth-of-type(1){display:block;}
.Taitu .strTop .Right .bian01>div>a{width:80px; height:120px;float:left;margin:6px;margin-left:16px;text-align: center;text-decoration: none;color: gray;}
.Taitu .strTop .Right .bian01>div>a:hover{text-decoration:underline;color:black;font-weight: 800;}
.Taitu .strTop .Right .bian01>div>a>img{width:80px; height:80px;border: solid 2px skyblue;}


.Taitu .strTop .Right .bian01 .DIVCS{width:100%;height:410px;background:transparent;}
.Taitu .strTop .Right .bian01 .DIVCS>ol{width:100%;height:90px;background:transparent;list-style: none;}
.Taitu .strTop .Right .bian01 .DIVCS>ol>li{width:61px;height:85px;background:transparent;float:left;text-align: center;color:gray;padding-top:5px;}
.Taitu .strTop .Right .bian01 .DIVCS>ol>li>img{width: 50px;height: 50px;border-radius:50%;}
.Taitu .strTop .Right .bian01 .DIVCS>ol>li:hover{color:black;}
.Taitu .strTop .Right .bian01 .DIVCS>ol .cl{color:black;}
.Taitu .strTop .Right .bian01 .DIVCS>ol>li>img:hover{border:2px solid gold;}
.Taitu .strTop .Right .bian01 .DIVCS>ol>li .img{border:2px solid gold;}

.Taitu .strTop .Right .bian01 .DIVCS>div{width:100%;height:320px;background:transparent;}
.Taitu .strTop .Right .bian01 .DIVCS>div>a{display:inline-block;color:black;text-decoration:none;width:600px;height:310px;background:transparent;position: absolute;margin: 10px;display: none;}
.Taitu .strTop .Right .bian01 .DIVCS>div>a:nth-of-type(1){display:block;}
.Taitu .strTop .Right .bian01 .DIVCS>div>a>p:nth-of-type(2){color:gray;}
.Taitu .strTop .Right .bian01 .DIVCS>div>a>img{width:600px;height:250px;}
/*.Taitu .strTop .Right .bian01 .DIVCS>ol>li:hover{border:2px solid gold;color:gold;}*/